[tools]
# Static site generator
zola = "0.21.0"
# Linter for Markdown files
markdownlint-cli2 = "0.14.0"

[tasks.serve]
description = "Start web server for development"
run = "zola serve"
alias = "s"

[tasks.lint]
description = "Lint Markdown files"
run = "markdownlint-cli2 '**/*.md'"
alias = "l"
