<header>
    <div class="main">
        <a href={{ get_url(path="@/_index.md") }}>{{ config.title }}</a>

        <div class="socials">
            {% for social in config.extra.socials | default(value=[]) %}
            <a rel="me" href="{{ social.url }}" class="social">
                <img alt="{{ social.name }} icon" src={{ get_url(path="icons/" ~ social.icon ~ ".svg") }}>
            </a>
            {% endfor %}
            <a rel="alternate" href="{{ get_url(path="atom.xml", trailing_slash=false) }}" class="social">
                <img alt="Atom feed icon" src={{ get_url(path="icons/atom.svg") }}>
            </a>
            <a rel="alternate" href="{{ get_url(path="rss.xml", trailing_slash=false) }}" class="social">
                <img alt="RSS feed icon" src={{ get_url(path="icons/rss.svg") }}>
            </a>
        </div>
    </div>

    <nav>
        {% for menu in config.extra.menu | default(value=[]) %}
        <a href={{ get_url(path=menu.url) }} style="margin-left: 0.5em">{{ menu.name }}</a>
        {% endfor %}
    </nav>
</header>
