{% extends "base.html" %}

{% block main_content %}
    <main>
        <article>
            <section class="body">
                {{ post_macros::page_header(title=section.title) }}

                <h2>Salut! Hi! Hallo! 👋</h2>

                <p>
                    I am Dany, a Québécois living in the beautiful city of
                    <a href="https://en.wikipedia.org/wiki/Freiburg_im_Breisgau">Freiburg im Breisgau</a>
                    in Germany. I speak French 🇨🇦, English and German 🇩🇪.
                </p>

                <p>
                    For the past 12+ years, I have worked as a <b>Software and DevOps Engineer</b>.
                    I write about web development, DevOps, Ruby, Elixir and more.
                </p>

                <h2>Skills</h2>

                <ul style="padding: 0; margin: 0; display: flex; flex-wrap: wrap; gap: 1.5rem 2rem; list-style: none;">
                    <li style="display: flex; flex-direction: column; align-items: center;">
                        <img src="{{ get_url(path="images/web_development.svg") }}" height="80" alt="Web development image" />
                        <span>Web Development</span>
                    </li>
                    <li style="display: flex; flex-direction: column; align-items: center;">
                        <img src="{{ get_url(path="images/devops.svg") }}" height="80" alt="DevOps lifecycle image" />
                        <span>DevOps</span>
                    </li>
                    <li style="display: flex; flex-direction: column; align-items: center;">
                        <img src="{{ get_url(path="images/ruby.svg") }}" height="80" alt="Ruby logo" />
                        <span>Ruby</span>
                    </li>
                    <li style="display: flex; flex-direction: column; align-items: center;">
                        <img src="{{ get_url(path="images/elixir.svg") }}" height="80" alt="Elixir logo" />
                        <span>Elixir</span>
                    </li>
                    <li style="display: flex; flex-direction: column; align-items: center;">
                        <img src="{{ get_url(path="images/linux.svg") }}" height="80" alt="Linux logo" />
                        <span>Linux</span>
                    </li>
                    <li style="display: flex; flex-direction: column; align-items: center;">
                        <img src="{{ get_url(path="images/docker.svg") }}" height="80" alt="Docker logo" />
                        <span>Docker</span>
                    </li>
                </ul>
            </section>
        </article>
    </main>
{% endblock main_content %}


